* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Montserrat", sans-serif;
}
html, body {
margin: 0;
padding: 0;
height: 100vh;
display: flex;
flex-direction: column;
}
.header {
display: flex;
align-items: center;
justify-content: center;
background: #1B2030;
width: 100%;
padding: 15px 30px;
min-height: 80px;
position : relative;
}
.header-nav {
display: flex;
gap: 30px; /* Espace généreux entre les menus */
list-style: none;
}

.header-nav a {
color: #FFFFFF; /* Écrit en BLANC pur */
text-decoration: none;
font-weight: 600;
font-size: 1rem;
text-transform: uppercase; /* Optionnel : pour un look plus pro */
transition: color 0.3s ease, transform 0.2s;
}

.header-nav a:hover {
color: #8A2BE2; /* Change en violet au survol */
transform: translateY(-2px); /* Petit effet de saut au survol */
}


.home-banner {
flex: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-image: url('../image/image_fond.png');
        no-repeat center center/cover;
background-size: cover;
background-attachment: fixed;
width: 100%;
height: 100%;
text-align: center;
color: white;
}


.info {
text-align: center;
color: white;
text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
}

.info h1 {
font-size: 2.5rem;
font-weight: bold;
margin-bottom: 10px;
}

footer {
background: #1B2030;
color: #eee;
text-align: center;
padding: 15px 10px;
border-radius: 0;
width: 100%;
height: 80px;
display: flex;
flex-direction: column;
justify-content: center;
margin-top: auto;
}

.footer-content p {
margin: 0;
font-size: 14px;
}

.footer-content nav {
margin-top: 5px;
}

.footer-content a {
color: #aaa;
text-decoration: none;
font-size: 14px;
margin: 0 8px;
}

.footer-content a:hover {
color: #fff;
text-decoration: underline;
}
.meta a {
color: white !important;
text-decoration: none;
}

.meta a:hover {
text-decoration: underline;
}
.meta img {
max-width: 50px;
height: auto;
display: block;
margin: 10px auto;
}

.login-icon {
position: absolute;
left: 50px; /* Ajuste ce chiffre (ex: 80px) pour le décaler plus ou moins à gauche */
margin-top: -17.5px;
display: flex;
align-items: center;
cursor: pointer;
}

/* Style de l'icône pour qu'elle soit blanche et de bonne taille */
.login-icon svg, .login-icon img {
width: 35px;
height: 35px;
filter: brightness(0) invert(1); /* Force le blanc si c'est une image noire */
}
